#body {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
  
}
#userInput {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.title {
    color: white;
    background-color: black;
    width: 300px;
    font-size: 45px;
    padding: 15px;
    border-color: darkslategray;
    border-radius: 25px;
    border-style: solid;
    border-color: dodgerblue;
}
#input {
    font-size: 30px;
    width: 235px;
    color:white;
    background-color: black;
    border-radius: 5px;
    border-style: solid;
    border-color: dodgerblue;
}
#button {
    height: 40px;
    background-color: black;
    color: white;
    border-color: dodgerblue;
    border-radius: 5px;
}
#list {

    
}
#listitems {
   
}